<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      Apagador IOT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
<ion-img *ngIf="estado===false" src="assets/img/foco_apagado.png"></ion-img>
<ion-img *ngIf="estado===true" src="assets/img/focoencendido.png"></ion-img>
<ion-row>
  <ion-col size="4"></ion-col>
  <ion-col size="4">
    <ion-toggle class="ion-padding" color="success"
    (ionChange)="cambio(estado)"
    [(ngModel)]="estado"
    ></ion-toggle>
  </ion-col>
  <ion-col size="4"></ion-col>
</ion-row>
</ion-content>
